.ttt-element {
    border-color: black;
    display: inline-block;
    background-color: white;
    height: 2rem;
    width: 2rem;
}

.board-comp {
    display: block;
}

.info {
    margin-bottom: 20px;
}